{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="html5 responsive bootstrap template">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript,html5,css3, responsive, bootstrap,jquery,">
	<title>Password Reset</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">

	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">

	<link rel="stylesheet" href="{% static 'vendors/swiper-master/css/swiper.min.css'%}">

	<link rel="stylesheet" href="{% static 'css/slicknav.min.css'%}">

	<link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

	<link rel="stylesheet" href="{% static 'css/metisMenu.min.css'%}">

	<link rel="stylesheet" href="{% static 'css/apexcharts.css'%}">
	<link rel="stylesheet" href="{% static 'css/jquery.scrollbar.css'%}">
	<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css'%}">

	<link rel="stylesheet" href="{% static 'vendors/editor/css/froala_editor.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/froala_style.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/code_view.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/draggable.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/colors.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/emoticons.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/image_manager.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/image.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/line_breaker.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/table.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/char_counter.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/video.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/fullscreen.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/file.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/quick_insert.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/help.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/third_party/spell_checker.css'%}">
	<link rel="stylesheet" href="{% static 'vendors/editor/css/plugins/special_characters.css'%}">

	<link rel="stylesheet" href="{% static 'style.css'%}">
	<link rel="stylesheet" href="{% static 'css/responsive.css'%}">

	<script src="{% static 'vendors/modernizr-js/modernizr.js'%}" type="text/javascript"></script>
</head>
<body class="nimmu-bg user-bg">
	<div class="user-content-wrapper">
		<div class="user-content-wrapper-inner">
			<div class="user-form">
				<div class="right">
					<div class="form-top">
						<h2>Login</h2>
						<p>PASSWORD RESET</p>
					</div>
					<form action="/web/password_reset/" method="POST">
                        {% csrf_token %}
						{{ form.email.errors }}
						<div class="form-group">
							<label>Email address</label>
							<input type="email" name="email" class="form-control" placeholder="Enter your email address">
                            <span class="eye"><i class="fa fa-envelope"></i></span>
						</div>
						<button type="submit" class="btn btn-primary nimmu-user-sibmit-button">Reset Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/jquery.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'js/bootstrap.min.js'%}" type="text/javascript"></script>

	<script src="{% static 'js/owl.carousel.min.js'%}" type="text/javascript"></script>

	<script src="{% static 'js/waypoints.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'js/counterup.min.js'%}" type="text/javascript"></script>

	<script src="{% static 'js/jquery.slicknav.min.js'%}" type="text/javascript"></script>

	<script src="{% static 'js/magnific-popup.min.js'%}" type="text/javascript"></script>

	<script src="{% static 'vendors/swiper-master/js/swiper.min.js'%}" type="text/javascript"></script>

	<script src="{% static 'js/metisMenu.min.js'%}" type="text/javascript"></script>

	<script src="{% static 'js/jquery.scrollbar.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'js/sweetalert2.all.min.js'%}" type="text/javascript"></script>

	<script type="text/javascript" src="{% static 'vendors/editor/js/froala_editor.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/align.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/char_counter.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/code_beautifier.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/code_view.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/colors.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/draggable.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/emoticons.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/entities.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/file.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/font_size.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/font_family.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/fullscreen.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/image.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/image_manager.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/line_breaker.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/inline_style.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/link.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/lists.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/paragraph_format.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/paragraph_style.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/quick_insert.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/quote.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/table.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/save.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/url.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/video.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/help.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/print.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/third_party/spell_checker.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/special_characters.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'vendors/editor/js/plugins/word_paste.min.js'%}"></script>

	<script src="{% static 'js/scripts.js'%}" type="text/javascript"></script>
	<script type="text/javascript">

		(function () {
		new FroalaEditor("#edit")
	})()

</script>
</html>