{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/favicon.ico">

    <title>Payment on Transit - Recover Password</title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'css/vendors_css.css'%}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'css/skin_color.css'%}">	

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url({% static 'images/bg-2.jpg'%})">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			
			<div class="col-12">
				<div class="row justify-content-center no-gutters">
					<div class="col-lg-5 col-md-5 col-12">						
						<div class="bg-white rounded30 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h3 class="mb-0 text-primary">Recover Password</h3>								
							</div>
							<div class="p-40">
							{% if validlink %}
								<form action="" method="post">
									 <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
									{{ form.email.errors }}
									{{ form.new_password1.errors }}
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-lock"></i></span>
											</div>
											<input type="password" name="new_password1" class="form-control pl-15 bg-transparent" placeholder="New Password">
										</div>
									</div>
									{{ form.new_password2.errors }}
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-lock"></i></span>
											</div>
											<input type="password" name="new_password2" class="form-control pl-15 bg-transparent" placeholder="Confirm Password">
										</div>
									</div>
									  <div class="row">
										<div class="col-12 text-center">
										  <button type="submit" class="btn btn-info margin-top-10">Reset Password</button>
										</div>
										<!-- /.col -->
									  </div>
								</form>
								{% else %}
									<div class="alert alert-danger" role="alert">
                        				<h4 class="alert-heading">Password reset unsuccessful</h4>
                        				<p>The password reset link was invalid, <br />
                            			possibly because it has already been used. <br />
                            			Please request a new password reset.</p>
                    				</div>
								{% endif %}	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	



	<!-- Vendor JS -->
	<script src="{% static 'js/vendors.min.js'%}"></script>
    <script src="{% static 'js/feather.min.js'%}"></script>	

</body>
</html>
