{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/favicon.ico">

	<title>Payment on Transit - Recover Password</title>
	
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'css/vendors_css.css'%}">
	
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'css/skin_color.css'%}">	

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url({% static 'images/bg-2.jpg'%})">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			
			<div class="col-12">
				<div class="row justify-content-center no-gutters">
					<div class="col-lg-5 col-md-5 col-12">						
						<div class="bg-white rounded30 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h3 class="mb-0 text-primary">Reset Done </h3>								
							</div>
							<div class="p-40">
								<div class="display-1 lnr lnr-checkmark-circle text-center text-success mb-4"></div>
								<p class="text-center text-big mb-4">Your email address has been successfully confirmed.</p>
								<div class="row">
									<div class="col-12 text-center">
										<a href="/login"><button class="btn btn-info margin-top-10">Proceed to your account</button></a>
									</div>
									<!-- /.col -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	



	<!-- Vendor JS -->
	<script src="{% static 'js/vendors.min.js'%}"></script>
	<script src="{% static 'js/feather.min.js'%}"></script>	

</body>
</html>
