<!doctype html>
<html lang="en" class="no-js">
{% include 'admin/head.html' %}
<body class="nimmu-bg">
	{% include 'admin/sidebar.html' %}

	<div class="nimmu-wrapper">

		{% include 'admin/topbar.html' %}


		<div class="nimmu-breadcrumb">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<ul class="d-flex">
							<li>Add Vendor</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="nimmu-content-area">
			<div class="container-fluid">
				<div class="row mt-4">
					<div class="col-12">
						<div class="nimmu-default-card">
							<div class="nimmu-card-header nimmu-mb-30">
								<div class="d-felx justify-content-between align-items-center">
									<div class="nimmu-header-left">
										<h3>Vendor Information</h3>
										{% for message in messages %}
										{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
										<div class="alert alert-warning alert-dismissible fade show" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<strong>Warning - </strong> {{ message }}
										</div>
										{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
										<div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<strong>Success - </strong> {{ message }}
										</div>
										{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
										<div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<strong>Error - </strong> {{ message }}
										</div>
										{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="input-area nimmu-input-outline">
								<form action="/web/add_vendor" method="POST">
                                    {% csrf_token %}
									<div class="form-group">
										<div class="row">
											<div class="col-lg-6 mb-lg-0 mb-10">
												<label>First Name</label>
												<input type="text" name="firstname" class="form-control" value="{{firstname}}" placeholder="Enter First Name"><br>
											</div>
											<div class="col-lg-6 mb-lg-0 mb-4">
												<label>Last Name</label>
												<input type="text" name="lastname" class="form-control" value="{{lastname}}" placeholder="Enter Last Name"><br>
											</div>
											<div class="col-lg-6 mb-lg-0 mb-4">
												<label>Email</label>
												<input type="email" name="email" class="form-control" value="{{email}}" placeholder="Enter Email">
											</div>
											<div class="col-lg-6 mb-lg-0 mb-19">
												<label>Mobile Number</label>
												<input type="text" name="mobile" class="form-control" value="{{mobile}}" placeholder="Enter Mobile Number"><br>
											</div>
											<div class="col-lg-12 mb-lg-0 mb-4">
												<button type="submit" style="float: right;" class="btn btn-success nimmu-btn nimmu-btn-success">ADD VENDOR</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		{% include 'footer.html' %}

	</div>
	{% include 'foot.html' %}

</body>
</html>