{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'admin/head.html' %}

<body class="hold-transition light-skin sidebar-mini theme-primary">
	
	<div class="wrapper">

		{% include 'admin/topbar.html' %}
		
		<!-- Left side column. contains the logo and sidebar -->
		{% include 'admin/sidebar.html' %}
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div class="container">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="page-title">User Management</h3>
							<div class="d-inline-block align-items-center">
								<nav>
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
										<li class="breadcrumb-item" aria-current="page">Management</li>
										<li class="breadcrumb-item active" aria-current="page">KYC</li>
									</ol>
								</nav>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Main content -->
				<section class="content">
					<div class="row"> 

						<div class="col-12">
							
							<!-- /.box -->

							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Customer KYC</h3>
									<h6 class="box-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<div class="table-responsive">
										<table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
											<thead>
												<tr>
													<th>S/N</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Address</th>
													<th>City</th>
													<th>State</th>
													<th>Zip Code</th>
													<th>Document Type</th>
													<th>Document NO</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for data in show %}
												<tr>
													<td>{{forloop.counter}}</td>
													<td>{{data.firstname}}</td>
													<td>{{data.lastname}}</td>
													<td>{{data.address}}</td>
													<td>{{data.city|upper}}</td>
													<td>{{data.state|upper}}</td>
													<td>{{data.zipcode}}</td>
													<td>{{data.doc_type|upper}}</td>
													<td>{{data.doc_no|upper}}</td>
													{% if data.status == 1 %}
														<td>Approved</td>
													{% else %}
														<td>Waiting Approval</td>
													{% endif %}
													<td><a data-toggle="modal" data-target="#m{{data.id}}" class="waves-effect waves-light btn btn-primary btn-circle mx-5"><span class="icon-Arrow-right"><span class="path1"></span><span class="path2"></span></span></a></td>
												</tr>
												{% endfor %}
											</tbody>				  
											<tfoot>
												<tr>
													<th>S/N</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Address</th>
													<th>City</th>
													<th>State</th>
													<th>Zip Code</th>
													<th>Document Type</th>
													<th>Document NO</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</tfoot>
										</table>
									</div>              
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->          
						</div>
						<!-- /.col -->
					</div>
					{% for data in show %}
					<div class="modal modal-right fade" id="m{{data.id}}" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">KYC Verification</h5>
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">

										<div class="col-12 col-lg-12">
											<div class="box ribbon-box">
												{% if data.status == False %}
													<div class="ribbon-two ribbon-two-danger"><span>Pending</span></div>
												{% else %}
													<div class="ribbon-two ribbon-two-success"><span>Approved</span></div>
												{% endif %}
												<div class="box-header no-border p-0">				
													<a href="#">
														<img class="img-fluid" src="{{data.doc_file.url}}" alt="">
													</a>
												</div>
												<div class="box-body">
													<div class="text-center">
														<h3 class="my-10"><a href="#">{{data.firstname|upper}} {{data.lastname|upper}}</a></h3>
														<h6 class="user-info mt-0 mb-10 text-fade">DOCTYPE: {{data.doc_type|upper}}</h6>
														<h6 class="user-info mt-0 mb-10 text-fade">DOC NO: {{data.doc_no|upper}}</h6>
														<h6 class="user-info mt-0 mb-10 text-fade">{{data.state|upper}}</h6>
														<p class="text-fade w-p85 mx-auto">{{data.address}}</p>
														{% if data.status == 1 %}
															<a href="#" class="btn btn-success float-right">Approved<span class="path2"></span></span></a>
														{% else %}
															<a href="/web/approvekyc/{{data.user_id}}" class="btn btn-primary float-right">Approve<span class="path2"></span></span></a>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- /.row -->
				</section>
				<!-- /.content -->
				
			</div>
		</div>
		<!-- /.content-wrapper -->
		
		{% include 'footer.html' %}
		<!-- Control Sidebar -->
		<!-- /.control-sidebar -->
		
		<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	
	{% include 'foot.html' %}
	{% include 'admin/auto-logout.html' %}
</body>
</html>
