	{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'admin/head.html' %}
<body class="hold-transition light-skin sidebar-mini theme-primary">
	
<div class="wrapper">

  {% include 'admin/topbar.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'admin/sidebar.html' %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Payment Settings</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Settings</li>
								<li class="breadcrumb-item active" aria-current="page">Payment</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-12 col-12">
					  <div class="box">
						<!-- /.box-header -->
						<form action="/web/monify" method="POST">
							{% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-info"><i class="ti-user mr-15"></i> Team Apt(Monify) Setup</h4>
								{% for message in messages %}
								{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Warning - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
								<div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Success - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
								<div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Error - </strong> {{ message }}
								</div>
								{% endif %}
								{% endfor %}
								<hr class="my-15">
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Base URL</label>
									  <input type="hidden" name="name" class="form-control" value="monify">
									  <input type="url" name="baseurl" class="form-control" value="{{res.baseurl}}" required>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label>API Key</label>
									  <input type="text" class="form-control" name="apikey" value="{{res.api_key}}" required>
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Secret Key</label>
									  <input type="text" class="form-control" name="skey" value="{{res.sec_key}}" required>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Contract Code</label>
									  <input type="text" name="contract" class="form-control" value="{{res.mcode}}" required>
									</div>
								  </div>
								</div>
								<div class="form-group">
								  <label>Wallet ID</label>
								  <input type="text" name="walletid" class="form-control" placeholder="Monifiy Wallet ID" value="{{res.mwal_id}}">
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="submit" class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
						</form>
					  </div>
					  <!-- /.box -->			
				</div>  
		    </div>
			
			<!--/.col (left) -->
			<!-- right column -->
			
			<!--/.col (right) -->
		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
  {% include 'footer.html' %}
  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script src="{% static 'js/vendors.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>	
	
<!-- Power BI Admin App -->
<script src="{% static 'js/template.js'%}"></script>
<script src="{% static 'js/demo.js'%}"></script>
{% include 'admin/auto-logout.html' %}	
	
</body>
</html>
