{% load static %}
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
		<div class="user-profile px-20 py-15">
			<div class="d-flex align-items-center">			
				<div class="image">
				  <img src="https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/avatar/avatar-13.png" class="avatar avatar-lg bg-primary-light" alt="User Image">
				</div>
				<div class="info">
					<a class="px-20" data-toggle="dropdown" href="#">{{user.firstname|upper}} {{user.lastname|upper}}</a>
				</div>
			</div>
			{% comment %} <ul class="list-inline profile-setting mt-30 mb-20 d-flex justify-content-between">
				<li><a href="/logout" data-toggle="tooltip" data-placement="top" title="Logout"><i data-feather="log-out"></i></a></li>
			</ul> {% endcomment %}
        </div>
		
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">		
		<li>
          <a href="/web/home">
           <i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
			<span>Dashboard</span>
          </a>
        </li>	
		<li class="header">Management </li>
		<li class="treeview">
          <a href="#">
            <i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>
            <span>Account Activities</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">										
            <li><a href="/web/history"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>AllTransactions</a></li>			
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
            <span>User Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">			
            <li><a href="/web/all_user"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>All User</a></li>
            <li><a href="/web/all_vendor"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>All Merchant</a></li>
			<li><a href="/web/userKyc"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User KYC</a></li>
				
          </ul>
        </li>			
		{% comment %} <li class="treeview">
          <a href="#">
            <i class="icon-File"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <span>Forms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="forms_advanced.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Elements</a></li>
            <li><a href="forms_general.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Layout</a></li>
            <li><a href="forms_wizard.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Wizard</a></li>	
            <li><a href="forms_validation.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Form Validation</a></li>
            <li><a href="forms_mask.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Formatter</a></li>
            <li><a href="forms_xeditable.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Xeditable Editor</a></li>
            <li><a href="forms_dropzone.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dropzone</a></li>
            <li><a href="forms_code_editor.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Code Editor</a></li>
            <li><a href="forms_editors.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Editor</a></li>
            <li><a href="forms_editor_markdown.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Markdown</a></li>
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="icon-Layout-top-panel-1"><span class="path1"></span><span class="path2"></span></i>
			<span>Tables</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="tables_simple.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Simple tables</a></li>
            <li><a href="tables_data.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Data tables</a></li>
            <li><a href="tables_editable.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Editable Tables</a></li>
            <li><a href="tables_color.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Table Color</a></li>
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="icon-Chart-pie"><span class="path1"></span><span class="path2"></span></i>
			<span>Charts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="charts_chartjs.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>ChartJS</a></li>
            <li><a href="charts_flot.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Flot</a></li>
            <li><a href="charts_inline.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Inline charts</a></li>
            <li><a href="charts_morris.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Morris</a></li>
            <li><a href="charts_peity.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Peity</a></li>
            <li><a href="charts_chartist.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Chartist</a></li>
            <li><a href="charts_c3_axis.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Axis Chart</a></li>
            <li><a href="charts_c3_bar.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bar Chart</a></li>
            <li><a href="charts_c3_data.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Data Chart</a></li>
            <li><a href="charts_c3_line.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Line Chart</a></li>
            <li><a href="charts_echarts_basic.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Basic Charts</a></li>
            <li><a href="charts_echarts_bar.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bar Chart</a></li>
            <li><a href="charts_echarts_pie_doughnut.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pie & Doughnut Chart</a></li>
          </ul>
        </li> {% endcomment %}
		<li class="treeview">
          <a href="#">
            <i data-feather="settings"></i>
			<span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/web/profile"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Profile</a></li>
            <li><a href="/password_change"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Change Password</a></li>
			<li class="treeview">
				<a href="#">
					<i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Payment Config
					<span class="pull-right-container">
              			<i class="fa fa-angle-right pull-right"></i>
            		</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="/web/monify"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Monifiy</a></li>
				</ul>
			</li>
          </ul>
        </li>
		<li>
          <a href="/web/logout">
            <i data-feather="log-out"><span class="path1"></span><span class="path2"></span></i>
			<span>Log Out</span>
          </a>
        </li>  
			     
      </ul>
    </section>
  </aside>