{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'admin/head.html' %}

<body class="hold-transition light-skin sidebar-mini theme-primary">
	
<div class="wrapper">

  {% include 'admin/topbar.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'admin/sidebar.html' %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">User Management</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">User</li>
								<li class="breadcrumb-item active" aria-current="page">All User</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		  <div class="row"> 

			<div class="col-12">
	
			  <!-- /.box -->

			  <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">All User</h3>
				  <h6 class="box-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
					  <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
						<thead>
							<tr>
								<th>S/N</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>User Type</th>
								<th>NGN Bal</th>
								<th>BTC Bal</th>
								<th>ETH Bal</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						{% for data in show_user %}
						{% if data.is_superuser == True or data.role == 'vendor' %}
						{% else %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{data.firstname}}</td>
								<td>{{data.lastname}}</td>
								<td>{{data.role|upper}}</td>
								{% for i in wallet %}
								{% if i.user_email == data.email %}
								<td>{{i.ngn|intcomma}}</td>
								<td>{{i.btc|intcomma}}</td>
								<td>{{i.eth|intcomma}}</td>
								{% endif %}
								{% endfor %}
								<td><a href="#" class="waves-effect waves-light btn btn-primary btn-circle mx-5"><span class="icon-Arrow-right"><span class="path1"></span><span class="path2"></span></span></a></td>
							</tr>
						{% endif %}
						{% endfor %}
						</tbody>				  
						<tfoot>
							<tr>
								<th>S/N</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>User Type</th>
								<th>NGN Bal</th>
								<th>BTC Bal</th>
								<th>ETH Bal</th>
								<th>Action</th>
							</tr>
						</tfoot>
					</table>
					</div>              
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->          
			</div>
			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</section>
		<!-- /.content -->
	  
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
  {% include 'footer.html' %}
  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
	
{% include 'foot.html' %}
{% include 'admin/auto-logout.html' %}
</body>
</html>
