{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/favicon.ico">

    <title>Power BI Admin - Log in </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'css/vendors_css.css'%}">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'css/skin_color.css'%}">	

</head>
	
<body class="hold-transition theme-primary bg-img">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">	
			
			<div class="col-12">
				<div class="row justify-content-center no-gutters">
					<div class="col-lg-4 col-md-4 col-12">
						<div class="bg-white rounded30 shadow-lg">
							<div class="content-top-agile p-30 pb-0">
							<h2 class="text-primary">{{busname|upper}}</h2>
								<img class="rounded-circle" src="{{ logo.url }}" height="50" width="50" alt="">
								<h2 class="text-primary">₦ {{amount|intcomma}}</h2>
								<p class="mb-0">{{desc}}</p>							
							</div>
							<div class="p-40">
								
								<form action="/pay/initiate" method="POST">
									{% csrf_token %}
									<input type="hidden" name="amount" value="{{ amount }}">
                            		<input type="hidden" name="contract" value="{{ contract }}">
                            		<input type="hidden" name="sucess_url" value="{{ sucess_url }}">
									<input type="hidden" name="fail_url" value="{{ fail_url }}">
									<input type="hidden" name="desc" value="{{ desc }}">
									<div class="form-group">
										<div class="input-group mb-4">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-email"></i></span>
											</div>
											<input type="email" name="email" class="form-control pl-15 bg-transparent" placeholder="Enter Email" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-4">
											<div class="input-group-prepend">
												<span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
											</div>
											<input type="password" name="password" class="form-control pl-15 bg-transparent" placeholder="Password" required>
										</div>
									</div>
									  <div class="row">
										
										<!-- /.col -->
										
										<!-- /.col -->
										<div class="col-12 text-center">
										  <button type="submit" class="btn btn-danger mt-10">PAY NOW</button>
										</div>
										<!-- /.col -->
									  </div>
								</form>	
								<div class="text-center">
									<p class="mt-15 mb-0">Don't have an account? <a href="/register" class="text-warning ml-5">Sign Up</a></p>
								</div>	
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Vendor JS -->
	<script src="{% static 'js/vendors.min.js'%}"></script>
    <script src="{% static 'js/feather.min.js'%}"></script>	

</body>
</html>
