<!DOCTYPE html>
<html lang="en">
<body onload="document.my_form.submit()">
<form action="http://{{ callback }}" name="my_form" method="GET">
    <input type="hidden" name="status" value="{{ status }}" />
    <input type="hidden" name="ref" value="{{ ref }}" />
    <input type="hidden" name="amount" value="{{ amount }}" />
    <input type="hidden" name="msg" value="{{ msg }}" />
</form>
</body>
</html>