	{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition light-skin sidebar-mini theme-primary">
	
<div class="wrapper">

  {% include 'topbar.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'sidebar.html' %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Business Information</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Business</li>
								<li class="breadcrumb-item active" aria-current="page">Information</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-12 col-12">
					  <div class="box">
						<!-- /.box-header -->
						<form action="/business" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-info"><i class="ti-user mr-15"></i> Business Information</h4>
								{% for message in messages %}
								{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Warning - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
								<div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Success - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
								<div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Error - </strong> {{ message }}
								</div>
								{% endif %}
								{% endfor %}
								{% if allv.bus_logo == None %}
									<div class="image" style="text-align: center;">
        								<img src="https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/avatar/avatar-13.png" class="avatar avatar-lg bg-primary-light" alt="User Image">
      								</div>
								{% else %}
									<div class="image" style="text-align: center;">
        								<img src="{{allv.bus_logo.url}}" class="avatar avatar-lg bg-primary-light" alt="User Image">
      								</div>
								{% endif %}
								<hr class="my-15">
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Contract Code</label>
									  <input type="text" name="contract" class="form-control" value="{{allv.contract}}" readonly>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Business Name</label>
									  <input type="text" class="form-control" name="busname" value="{{allv.busname}}" placeholder="Your Business Name">
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Business E-mail</label>
									  <input type="email" class="form-control" name="bus_email" value="{{allv.bus_email}}" placeholder="Enter Your Business Email">
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Business Number</label>
									  <input type="text" class="form-control" name="busno" value="{{allv.busno}}" placeholder="Business Number">
									</div>
								  </div>
								</div>
								<div class="form-group">
								  <label>Business Address</label>
								  <input type="text" name="bus_address" value="{{allv.bus_address}}" class="form-control" placeholder="Business Address">
								</div>
								<div class="row">
								  <div class="form-group">
								  <label>Business Logo</label>
								  <label class="file">
									<input type="file" value="{{allv.bus_logo}}" name="file" id="file" required>
								  </label>
								</div>
								</div>
								
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="submit" class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
						</form>
					  </div>
					  <!-- /.box -->			
				</div>  
		    </div>
			
			<!--/.col (left) -->
			<!-- right column -->
			
			<!--/.col (right) -->
		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
  {% include 'footer.html' %}
  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script src="{% static 'js/vendors.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>	
	
<!-- Power BI Admin App -->
<script src="{% static 'js/template.js'%}"></script>
<script src="{% static 'js/demo.js'%}"></script>
{% include 'auto-logout.html' %}	
	
</body>
</html>
