<footer class="main-footer">
	  <div class="container">
		<div class="pull-right d-none d-sm-inline-block">
			<ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
			  <li class="nav-item">
				<a class="nav-link" href="javascript:void(0)">FAQ</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Developer</a>
			  </li>
			</ul>
		</div>
		  &copy; {% now "Y" %} <a href="#">Payment on Transit</a>. All Rights Reserved.
	  </div>
  </footer>