{% load static %}
<script src="{% static 'jquery-2.2.4.min.js'%}"></script>
<script src="{% static 'js/vendors.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>	

<script src="{% static 'js/apexcharts.js'%}"></script>
	
<!-- Power BI Admin App -->
<script src="{% static 'js/template.js'%}"></script>
<script src="{% static 'js/demo.js'%}"></script>
<script src="{% static 'js/pages/dashboard4.js'%}"></script>
<script src="{% static 'js/pages/data-table.js'%}"></script>
<script src="{% static 'js/datatables.min.js'%}"></script>
<script src="{% static 'js/pages/timeline.js'%}"></script>
