{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">
	
<div class="wrapper">

  {% include 'topbar.html' %}
  
  {% include 'sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-4">
					<a href="#" class="box">
						<div class="box-body">
							<div class="d-flex justify-content-between align-items-center">
								<div>								
									<div class="text-dark font-weight-700 h2 mb-2 mt-5">{{allBal.ngn|intcomma}}</div>
									<div class="font-size-16">Naira Balance</div>
								</div>
								<div class="bg-danger-light rounded-circle h-80 w-80 text-center l-h-80">
									<span class="text-danger font-size-40"><span class="path1">₦</span><span class="path2"></span></span>									
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-4">
					<a href="#" class="box">
						<div class="box-body">
							<div class="d-flex justify-content-between align-items-center">
								<div>								
									<div class="text-dark font-weight-700 h2 mb-2 mt-5">Coming Soon</div>
									<div class="font-size-16">BTC Balance</div>
								</div>
								<div class="bg-warning-light rounded-circle h-80 w-80 text-center l-h-80">
									<span class="text-warning font-size-40">₿</span>									
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-4">
					<a href="#" class="box">
						<div class="box-body">
							<div class="d-flex justify-content-between align-items-center">
								<div>								
									<div class="text-dark font-weight-700 h2 mb-2 mt-5">Coming Soon</div>
									<div class="font-size-16">ETH Balance</div>
								</div>
								<div class="bg-success-light rounded-circle h-80 w-80 text-center l-h-80">
									<span class="text-success font-size-40">Ξ</span>									
								</div>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-xl-6"> 
					<div class="box">
						<div class="box-body d-flex p-0">
							<div class="flex-grow-1 bg-warning-light p-30 flex-grow-1 bg-img" style="background-position: left bottom; background-size: auto 100%; background-image: url(https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/svg-icon/color-svg/custom-2.svg)">
								<div class="row">
									<div class="col-12 col-xl-5"></div>
									<div class="col-12 col-xl-7">
										<h4 class="text-warning font-weight-600">Join Us now to get 15% off</h4>

										<p class="text-dark my-10 font-size-16">
											Offering discounts for your online store can be a powerful weapon
										</p>
										<a href="#" class="btn btn-warning">Join Now!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% if user.kyc == False and status == 3 %}
				<div class="col-xl-3">
					<div class="box">
						<div class="box-body d-flex p-0">
							<div class="flex-grow-1 bg-danger p-30 flex-grow-1 bg-img" style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 100%; background-image: url(https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/svg-icon/color-svg/custom-3.svg)">

								<h4 class="font-weight-600">Account Status</h4>

								<p class="my-10 font-size-16">
									Please complete your KYC<br>to gain full Access
								</p>

								<a href="/user_kyc" class="btn btn-danger-light">Complete KYC</a>
							</div>
						</div>
					</div>
				</div>
				{% elif kyc_exist == True and status == 0 %}
				<div class="col-xl-3">
					<div class="box">
						<div class="box-body d-flex p-0">
							<div class="flex-grow-1 bg-warning p-30 flex-grow-1 bg-img" style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 100%; background-image: url(https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/svg-icon/color-svg/custom-3.svg)">

								<h4 class="font-weight-600">Account Status</h4>

								<p class="my-10 font-size-16">
									KYC Waiting for <br>Approval.
								</p>

								<a href="#" class="btn btn-danger-light">Pending</a>
							</div>
						</div>
					</div>
				</div>
				{% elif user.kyc == True and kyc_exist == True and status == 1 %}
				<div class="col-xl-3">
					<div class="box">
						<div class="box-body d-flex p-0">
							<div class="flex-grow-1 bg-success p-30 flex-grow-1 bg-img" style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 100%; background-image: url(https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/svg-icon/color-svg/custom-3.svg)">

								<h4 class="font-weight-600">Account Status</h4>

								<p class="my-10 font-size-16">
									KYC has been<br>Approved.
								</p>

								<a href="#" class="btn btn-danger-light">Approved</a>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="col-xl-3">
					<div class="box">
						<div class="box-body d-flex p-0">
						<div class="flex-grow-1 bg-primary p-30 flex-grow-1 bg-img" style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 100%; background-image: url(https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/svg-icon/color-svg/custom-4.svg)">

							<h4 class="font-weight-600">Based On</h4>

							<div class="mt-5">
								<div class="d-flex mb-10 font-size-16">
									<span class="icon-Arrow-right mt-5 mr-10"><span class="path1"></span><span class="path2"></span></span>
									<span class="text-white">Activities</span>
								</div>

								<div class="d-flex mb-10 font-size-16">
									<span class="icon-Arrow-right mt-5 mr-10"><span class="path1"></span><span class="path2"></span></span>
									<span class="text-white">Sales</span>
								</div>

								<div class="d-flex mb-10 font-size-16">
									<span class="icon-Arrow-right mt-5 mr-10"><span class="path1"></span><span class="path2"></span></span>
									<span class="text-white">Releases</span>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title align-items-start flex-column">
								Latest Transactions
								<small class="subtitle">Five current Transactions</small>
							</h4>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table class="table no-border">
									<thead>
										<tr class="text-uppercase bg-lightest">
											<th style="min-width: 250px"><span class="text-dark">Receiver</span></th>
											<th style="min-width: 100px"><span class="text-fade">Amount Send</span></th>
											<th style="min-width: 100px"><span class="text-fade">Amount Received</span></th>
											<th style="min-width: 150px"><span class="text-fade">Ref NO</span></th>
											<th style="min-width: 130px"><span class="text-fade">status</span></th>
											<th style="min-width: 120px"></th>
										</tr>
									</thead>
									<tbody>
									{% for data in ShowLog %}
										<tr>										
											<td class="pl-0 py-8">
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0 mr-20">
														<div class="bg-img h-50 w-50"">{{data.scur|upper}}</div>
													</div>

													<div>
														<a href="#" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">{{data.rec}}</a>
														<span class="text-fade d-block">{{data.date}}</span>
													</div>
												</div>
											</td>
											<td>
												<span class="text-fade font-weight-600 d-block font-size-16">
													{{data.scur|upper}}
												</span>
												<span class="text-dark font-weight-600 d-block font-size-16">
													{{data.amt_snd|intcomma}}
												</span>
											</td>
											<td>
												<span class="text-fade font-weight-600 d-block font-size-16">
													{{data.rcur|upper}}
												</span>
												<span class="text-dark font-weight-600 d-block font-size-16">
													{{data.amt_rec|intcomma}}
												</span>
											</td>
											<td>
												
												<span class="text-dark font-weight-600 d-block font-size-16">
													{{data.ref}}
												</span>
											</td>
											<td>
												{% if data.rid == user.id %}
													<span class="badge badge-success-light badge-lg">Credit</span>
												{% else %}
													<span class="badge badge-danger-light badge-lg">Debit</span>
												{% endif %}
											</td>
											<td class="text-right">
												<a href="#" class="waves-effect waves-light btn btn-primary btn-circle mx-5"><span class="icon-Arrow-right"><span class="path1"></span><span class="path2"></span></span></a>
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>  
				</div>
			</div>				
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}

  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->
	
<!-- Vendor JS -->
{% include 'foot.html' %}
{% include 'auto-logout.html' %}
</body>
</html>
