	{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition light-skin sidebar-mini theme-primary">
	
<div class="wrapper">

  {% include 'topbar.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'sidebar.html' %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Know your Customer</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Customer</li>
								<li class="breadcrumb-item active" aria-current="page">KYC</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-12 col-12">
					  <div class="box">
						<!-- /.box-header -->
						<form action="/user_kyc" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-info"><i class="ti-user mr-15"></i> Customer Information</h4>
								<hr class="my-15">
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>First Name</label>
									  <input type="text" name="firstname" class="form-control" value="{{user.firstname}}" readonly>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Last Name</label>
									  <input type="text" class="form-control" name="lastname" value="{{user.lastname}}" readonly>
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label >E-mail</label>
									  <input type="email" class="form-control" name="email" value="{{user.email}}" readonly>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Contact Number</label>
									  <input type="text" class="form-control" value="{{user.mobile}}" readonly>
									</div>
								  </div>
								</div>
								<div class="form-group">
								  <label>Home/Office Address</label>
								  <input type="text" name="address" class="form-control" placeholder="Home/Office Address">
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label >City</label>
									  <input type="text" class="form-control" name="city" placeholder="Enter City">
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label >State</label>
									  <input type="text" class="form-control" name="state" placeholder="Enter State">
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Zip Code</label>
									  <input type="text" name="zipcode" class="form-control" placeholder="Enter Zip Code">
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Document Type</label>
									  <select class="form-control" name="doc_type">
										<option value="driver" selected>Driver's Licence</option>
										<option value="passport">Intl. Passport</option>
										<option value="national-id">National ID</option>
										<option value="voter-card">Voter's Card</option>
									  </select>
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Document Number</label>
									  <input type="text" name="doc_no" class="form-control" placeholder="Enter Document Number">
									</div>
								  </div>
								  <div class="form-group">
								  <label>Upload File</label>
								  <label class="file">
									<input type="file" name="file" id="file" required>
								  </label>
								</div>
								</div>
								
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="submit" class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
						</form>
					  </div>
					  <!-- /.box -->			
				</div>  
		    </div>
			
			<!--/.col (left) -->
			<!-- right column -->
			
			<!--/.col (right) -->
		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
  {% include 'footer.html' %}
  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script src="{% static 'js/vendors.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>	
	
<!-- Power BI Admin App -->
<script src="{% static 'js/template.js'%}"></script>
<script src="{% static 'js/demo.js'%}"></script>
{% include 'auto-logout.html' %}	
	
</body>
</html>
