{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition light-skin sidebar-mini theme-primary">
	
<div class="wrapper">

  {% include 'topbar.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'sidebar.html' %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Security</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Security</li>
								<li class="breadcrumb-item active" aria-current="page">Change Password</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			   
				<div class="col-lg-12 col-12">
					  <div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Change Password</h4>
						</div>
						<!-- /.box-header -->
						<form class="form" method="POST">
							{% csrf_token %}
							<div class="box-body">
								<div class="form-group">
									<label>Old Password</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ti-lock"></i></span>
										</div>
										<input type="password" name="old_password" class="form-control" placeholder="Enter your old password">
									</div>
								</div>
								<div class="form-group">
									<label>New Password</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ti-lock"></i></span>
										</div>
										<input type="password" name="new_password1" class="form-control" placeholder="Enter New password">
									</div>
								</div>
								<div class="form-group">
									<label>Confirm Password</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ti-lock"></i></span>
										</div>
										<input type="password" name="new_password2" class="form-control" placeholder="Confirm New password">
									</div>
								</div>
								<div class="form-group">
									{% for field in form %}
                                		{% for error in field.errors %}
                                    		<p style="color: red">{{ error }}</p>
                                		{% endfor %}
                            		{% endfor %}
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="submit" class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> CHANGE PASSWORD
								</button>
							</div>  
						</form>
					  </div>
					  <!-- /.box -->			
				</div>
		    </div>
			
			<!--/.col (right) -->
		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
 {% include 'footer.html' %}
  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script src="{% static 'js/vendors.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>	
	
<!-- Power BI Admin App -->
<script src="{% static 'js/template.js'%}"></script>
<script src="{% static 'js/demo.js'%}"></script>
{% include 'auto-logout.html' %}	
</body>
</html>
