{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition light-skin sidebar-mini theme-primary">
	
<div class="wrapper">

  {% include 'topbar.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
  {% include 'sidebar.html' %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Profile</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Settings</li>
								<li class="breadcrumb-item active" aria-current="page">Profile</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			<div class="col-12 col-lg-7 col-xl-8">
				
			  <div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
				  <li><a href="#settings" data-toggle="tab">Settings</a></li>
				</ul>

				<div class="tab-content">    
				  <!-- /.tab-pane -->
				  <!-- /.tab-pane -->

				  <div class="active" id="settings">		

					<div class="box p-15">		
						<form class="form-horizontal form-element col-12">
						  <div class="form-group row">
							<label for="inputName" class="col-sm-2 control-label">Full Name</label>

							<div class="col-sm-10">
							  <input type="text" value="{{user.firstname|upper}} {{user.lastname|upper}}" class="form-control" id="inputName" disabled>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputEmail" class="col-sm-2 control-label">Email</label>

							<div class="col-sm-10">
							  <input type="email" value="{{user.email}}" class="form-control" id="inputEmail" disabled>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputPhone" class="col-sm-2 control-label">Phone</label>

							<div class="col-sm-10">
							  <input type="tel" value="{{user.mobile}}" class="form-control" id="inputPhone" disabled>
							</div>
						  </div>
						  {% comment %} <div class="form-group row">
							<label for="inputExperience" class="col-sm-2 control-label">Experience</label>

							<div class="col-sm-10">
							  <textarea class="form-control" id="inputExperience" placeholder=""></textarea>
							</div>
						  </div> {% endcomment %}
						  {% comment %} <div class="form-group row">
							<label for="inputSkills" class="col-sm-2 control-label">Skills</label>

							<div class="col-sm-10">
							  <input type="text" class="form-control" id="inputSkills" placeholder="">
							</div>
						  </div> {% endcomment %}
						  
						</form>
					</div>			  
				  </div>
				  <!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			  </div>
			  <!-- /.nav-tabs-custom -->
			</div>
			<!-- /.col -->		

			  <div class="col-12 col-lg-5 col-xl-4">
				 <div class="box box-widget widget-user">
					<!-- Add the bg color to the header using any of the bg-* classes -->
					<div class="widget-user-header bg-black" style="background: url('{% static 'images/10.jpg'%}') center center;">
					  <h3 class="widget-user-username">{{	user.firstname|upper}} {{user.lastname|upper}}</h3>
					  <h6 class="widget-user-desc">{{user.role|upper}}</h6>
					</div>
					<div class="widget-user-image">
					  <img class="rounded-circle" src="{% static 'images/user3-128x128.jpg'%}" alt="User Avatar">
					</div>
					<div class="box-footer">
					  
					  <!-- /.row -->
					</div>
				  </div>
				  <div class="box">
					<div class="box-body box-profile">            
					  <div class="row">
						<div class="col-12">
							<div>
								<p>Email :<span class="text-gray pl-10">{{user.email}}</span> </p>
								<p>Phone :<span class="text-gray pl-10">{{user.mobile}}</span></p>
							</div>
						</div>
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>

			  </div>

		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
  {% include 'footer.html' %}
  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
{% include 'foot.html' %}	
{% include 'auto-logout.html' %}
</body>
</html>
