{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="hold-transition light-skin sidebar-mini theme-primary">
	
<div class="wrapper">

 {% include 'topbar.html' %}
  
  <!-- Left side column. contains the logo and sidebar -->
 {% include 'sidebar.html' %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Send Money</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Money</li>
								<li class="breadcrumb-item active" aria-current="page">Send Money</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-12 col-12">
					  <div class="box">
						<!-- /.box-header -->
						<form action="/send_money" method="POST">
							{% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-info"><i class="ti-user mr-15"></i> Send Money</h4>
								{% for message in messages %}
								{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Warning - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
								<div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Success - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
								<div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Error - </strong> {{ message }}
								</div>
								{% endif %}
								{% endfor %}
								<hr class="my-15">
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Your Wallet</label>
									  <select class="form-control" name="send_acct">
										<option selected>Choose...</option>
										<option value="ngn">NGN - {{allBal.ngn|intcomma}}</option>
										{% comment %} <option value="btc">BTC - {{allBal.btc|intcomma}}</option>
										<option value="eth">ETH - {{allBal.eth|intcomma}}</option> {% endcomment %}
									  </select>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Amount</label>
									  <input type="text" name="amount" class="form-control" placeholder="Amount">
									</div>
								  </div>
								</div>
								<div class="row">
								  <div class="col-md-6">
									<div class="form-group">
									  <label>Select Receiver Wallet</label>
									  <select class="form-control" name="rec_acct">
										<option selected>Choose...</option>
										<option value="ngn">NGN</option>
										{% comment %} <option value="btc">BTC</option>
										<option value="eth">ETH</option> {% endcomment %}
									  </select>
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="form-group">
									  <label >Receiver Email</label>
									  <input type="email" class="form-control" name="rec_email" placeholder="Receiver Email">
									</div>
								  </div>
								</div>
								<h4 class="box-title text-info"><i class="ti-user mr-15"></i> Requirements</h4>
							</div>
							
							<div class="box-footer">
								<button type="submit" style="float: right;" class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-control-play"></i> SEND MONEY
								</button>
							</div><br><br><br>  
						</form>
					  </div>
					  <!-- /.box -->			
				</div>  
		    </div>
			
			<!--/.col (left) -->
			<!-- right column -->
			<!--/.col (right) -->
		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
{% include 'footer.html' %}
  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script src="{% static 'js/vendors.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>	
	
<!-- Power BI Admin App -->
<script src="{% static 'js/template.js'%}"></script>
<script src="{% static 'js/demo.js'%}"></script>
{% include 'auto-logout.html' %}
</body>
</html>
