{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="https://www.multipurposethemes.com/admin/powerbi-admin-template/html/images/favicon.ico">

	<title>Registration - Payment on Transit </title>
	
	<!-- Vendors Style-->
	<link rel="stylesheet" href="{% static 'css/vendors_css.css'%}">
	
	<!-- Style-->  
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'css/skin_color.css'%}">	

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url({% static 'images/bg-2.jpg'%})">
	
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			
			<div class="col-12">
				<div class="row justify-content-center no-gutters">
					<div class="col-lg-5 col-md-5 col-12">
						<div class="bg-white rounded30 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h2 class="text-primary">Get started with Us</h2>
								<p class="mb-0">Register a new membership</p>							
							</div>
							<div class="p-40">
							{% for message in messages %}
								{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Warning - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
								<div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Success - </strong> {{ message }}
								</div>
								{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
								<div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>Error - </strong> {{ message }}
								</div>
								{% endif %}
								{% endfor %}
								<form action="/register" method="POST">
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
											</div>
											<select class="form-control" name="role" required>
												<option value="">Choose Account Type</option>
												<option value="vendor">Merchant</option>
												<option value="user">Customer</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
											</div>
											<input type="text" name="firstname" value="{{firstname}}" class="form-control pl-15 bg-transparent" placeholder="First Name" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
											</div>
											<input type="text" name="lastname" value="{{lastname}}" class="form-control pl-15 bg-transparent" placeholder="Last Name" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-email"></i></span>
											</div>
											<input type="email"  name="email" value="{{email}}" class="form-control pl-15 bg-transparent" placeholder="Email" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-mobile"></i></span>
											</div>
											<input type="text" name="mobile" value="{{mobile}}" class="form-control pl-15 bg-transparent" placeholder="Mobile Number" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text bg-transparent"><i class="ti-lock"></i></span>
											</div>
											<input type="password" name="password" class="form-control pl-15 bg-transparent" placeholder="Password" required>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="checkbox">
												<input type="checkbox" id="basic_checkbox_1" required>
												<label for="basic_checkbox_1">I agree to the <a href="#" class="text-warning"><b>Terms</b></a></label>
											</div>
										</div>
										<!-- /.col -->
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-info margin-top-10">REGISTER</button>
										</div>
										<!-- /.col -->
									</div>
								</form>				
								<div class="text-center">
									<p class="mt-15 mb-0">Already have an account?<a href="/login" class="text-danger ml-5"> Sign In</a></p>
								</div>
							</div>
						</div>								

						<div class="text-center">
							<p class="mt-20 text-white">- Register With -</p>
							<p class="gap-items-2 mb-20">
								<a class="btn btn-social-icon btn-round btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="btn btn-social-icon btn-round btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="btn btn-social-icon btn-round btn-instagram" href="#"><i class="fa fa-instagram"></i></a>
							</p>	
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>

	<!-- Vendor JS -->
	<script src="{% static 'js/vendors.min.js'%}"></script>
	<script src="{% static 'js/feather.min.js'%}"></script>	
	
	
</body>
</html>
