{% load humanize %}
<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <style type="text/css">
      /* FONTS */
      @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

      /* CLIENT-SPECIFIC STYLES */
      body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
      table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
      img { -ms-interpolation-mode: bicubic; }

      /* RESET STYLES */
      img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
      table { border-collapse: collapse !important; }
      body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

      /* iOS BLUE LINKS */
      a[x-apple-data-detectors] {
          color: inherit !important;
          text-decoration: none !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
      }

      /* MOBILE STYLES */
      @media screen and (max-width:600px){
          h1 {
              font-size: 32px !important;
              line-height: 32px !important;
          }
      }

      /* ANDROID CENTER FIX */
      div[style*="margin: 16px 0;"] { margin: 0 !important; }
  </style>
</head>
<body style="background-color: #f3f5f7; margin: 0 !important; padding: 0 !important;">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <!-- LOGO -->
    <tr>
        <td align="center">
            
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                    <td align="left" valign="top" style="padding: 20px 10px 20px 3px;">
                        <a href="#" style="text-decoration: none;">
							              <span style="display: block; font-family: 'Poppins', sans-serif; color: #1e88e5; font-size: 10px;" border="0">
                                <img src="bobo.png" alt="PTC" style="height: 40px; width: 150px;"> 
                            </span>
                        </a>
                    </td>
                    <td align="right" valign="middle" style="padding: 40px 10px 40px 10px;">
                        <p style="margin: 0;font-family: 'Poppins', sans-serif;">
							          </p>
                    </td>
                </tr>
            </table>
            
        </td>
    </tr>
    <!-- HERO -->
    <tr>
        <td align="center" style="padding: 0px 10px 0px 10px;">
           
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                    <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Poppins', sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 2px; line-height: 48px;">
                      <h1 style="font-size: 36px; font-weight: 600; margin: 0;">Hi! {{name}}, </h1>
                    </td>
                </tr>
            </table>
           
        </td>
    </tr>
    <!-- COPY BLOCK -->
    <tr>
        <td align="center" style="padding: 0px 10px 0px 10px;">
           
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
              <!-- COPY -->
              <tr>
                <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 400; line-height: 25px;">
                  <p style="margin: 0;">Transaction Successful!! <br>  <br> Your transaction of {{cur|upper}} {{amount}} is successfull. <br><br>Receiver : {{receiver}} <br><br><br> Thanks <br>PTC Team</p>
                </td>
              </tr>
              <!-- BULLETPROOF BUTTON -->
              
            </table>
            
        </td>
    </tr>
    
    <!-- SUPPORT CALLOUT -->
    <tr>
        <td align="center" style="padding: 10px 10px 0px 10px;">
            
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <!-- HEADLINE -->
                
                <tr>
                <td bgcolor="#000111" align="left" style="padding: 30px 30px 30px 30px; color: #aaaaaa; font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 400; line-height: 18px;">
                  <p style="margin: 0;">
                    <a href="#" style="color: #999999; font-weight: 700;">About Us</a> -
                    <a href="#"  style="color: #999999; font-weight: 700;">Our Terms</a> -
                    <a href="#" style="color: #999999; font-weight: 700;">Privacy Policy</a>
                  </p>
                </td>
              </tr>
              <!-- PERMISSION REMINDER -->
              <tr>
                <td bgcolor="#000111" align="left" style="padding: 0px 30px 30px 30px; color: #aaaaaa; font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 400; line-height: 18px;">
                  <p style="margin: 0;">You received this email because you use PTC. If you did not use PTC, kindly neglect this mail or <a href="#" style="color: #999999; font-weight: 700;">contact us</a>.</p>
                </td>
              </tr>
            </table>
            
        </td>
    </tr>
    <!-- FOOTER -->
    <tr>
        <td align="center" style="padding: 10px 10px 50px 10px;">
            
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
              <!-- NAVIGATION -->
              
		      <!-- COPYRIGHT -->
              <tr>
                <td align="center" style="padding: 30px 30px 30px 30px; color: #333333; font-family: 'Poppins', sans-serif; font-size: 12px; font-weight: 400; line-height: 18px;">
                  <p style="margin: 0;"> &copy; 2020 <a href="#"style="color: #999999;">PTC</a>. All rights reserved.</p>
                </td>
              </tr>
            </table>
            
        </td>
    </tr>
</table>

</body>

</html>
